<ion-view view-title="Home">
  <ion-header-bar>
    <h1 class="title">Addiction Research</h1>
  </ion-header-bar>
  <ion-content>
    <!-- if not logged in -->
    <div ng-hide="user">
      <a class="button button-block button-stable" href="#/app/create">
        Create Account
      </a>
      <button class="button button-block button-positive" ng-click="openModal('login')">
        Login
      </button>
    </div>
    <!-- if logged in -->
    <div ng-show="user">
      <p>You are currently logged in.</p>
      <button class="button button-block button-positive" ng-click="openModal('logout')">
        Logout
      </button>
    </div>

  </ion-content>
</ion-view>
