<ion-view view-title="Permissions">
  <ion-header-bar>
    <h1 class="title" ng-hide="user">BeneAdd - Permissions</h1>
  </ion-header-bar>
  <ion-content>
    <div class="list">
      <div class="item item-divider" style="text-align:center;">
        <h2 class="assertive" style="font-weight:bold;">Healthkit</h2>
      </div>
    </div>

    <div ng-show="hasCordova">
      <button class="button button-outline button-stable" ng-click="updatePermissions()">
        Update permisions
      </button>
    </div>

  </ion-content>
</ion-view>
