<ion-view view-title="Profile">
  <ion-header-bar>
    <h1 class="title">Profile</h1>
  </ion-header-bar>
  <ion-content>
    <div class="row">
      <div class="col">
        <h3>Welcome {{user.first_name}} {{user.last_name}}</h3>
      </div>
    </div>
    <!-- consent -->
    <div class="row">
      <div class="col">
        <p>Before we get started we need your consent</p>
        <button class="button button-block button-positive" ng-click="openModal('consent')">
          Consent Agreement
        </button>
      </div>
    </div>
    <!-- additional Info -->
    <div class="row">
      <div class="col">
        <p>We need some more information from you. Please click the following fill out the additional information:</p>

        <button class="button button-block button-positive" ng-click="openModal('additional-info')">
          Additional Info
        </button>
      </div>
    </div>

    <!-- Geolocation test -->
    <div class="row">
      <div class="col">
          <ul class="list">
            <li class="item">Lat: {{geolocation.lat}}</li>
            <li class="item">Long: {{geolocation.long}}</li>
            <li class="item">Last Updated at: {{geolocation.timestamp}}</li>
          </ul>
      </div>
    </div>
  </ion-content>
</ion-view>
