<ion-view view-title="Survey">
  <ion-header-bar>
    <h1 class="title">Addiction Research</h1>
  </ion-header-bar>
  <ion-content class="padding">
    <div class="start-survey" ng-hide="takingSurvey">
      <p>Please take the time to fill out the following survey:</p>

      <button class="button button-block button-calm" ng-click="openModal()" ng-hide="takingSurvey">
        Take Survey
      </button>
      <!-- error state -->
      <p ng-show="surveyError" class="assertive">There was a problem retrieving your survey, Please try again</p>
    </div>

    <div style="text-align:center;" class="padding-vertical" ng-show="takingSurvey">
      <ion-spinner class="spinner"></ion-spinner>
    </div>

    <div class="row" ng-show="surveyComplete">
      <div class="col padding">
        <p>Thank you for taking the survey.</p>
      </div>
    </div>

  </ion-content>
</ion-view>
